/* universal selectot  */
* {
    padding: 0;
    margin: 0;
}

/* common selector  */
.btn {
    background-color: #30B868;
    padding: 12px 16px;
    border-radius: 5px;
    border: none;
    color: white;
    font-style: 600;
}

/* nav-bar  */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    margin: 16px 120px;

}

.nav-bar {
    max-width: 139px;
    height: 60px;
}

.li-list {
    display: flex;
    gap: 32px;
    list-style: none;
}

/*  */
/* hero section  */

#hero-section {
    background: url("../assets/hero-bg.png");
    max-width: 1707px;
    height: 600px;
}

.hero-content {
    text-align: center;
}

.early-access {

    display: inline-flex;
    align-items: center;
    gap: 10px;
    background-color: antiquewhite;
    padding: 8px 12px;
    border-radius: 20px;
    width: 200px;
    margin-top: 115px;
    color: #30B868;
}

.dot {
    width: 6px;
    height: 6px;
    background-color: #469165;
    border-radius: 50%;
}

.text-white {
    margin-top: 24px;
    color: rgba(255, 250, 250, 0.945);
    font-size: 72px;
}

.text-green {
    color: #30B868;
    font-size: 72px;
}

.description {
    font-size: 18px;
    font-weight: 400px;
    font-style: 400;
    color: white;
    margin-top: 16px;
}

.button {
    margin-top: 32px;
    gap: 16px;
    align-items: center;
}

.btn-arrow{
    width: 20px;
    height: 20px;
    padding: 16px auto;
}



.btn-second {
    background: none;
    color: white;
    padding: 12px 16px;
    border: solid white;
    border-radius: 5px;
}

/* --------------- */
/* card content */
#card-section {
    max-width: 1600px;
    height: 448px;
    background-color: #FFFFFF;
}

.card-content {
    padding-top: 50px;
    text-align: center;
    margin: 0 auto;

}

.card-heading {

    font-size: 48px;
    line-height: 58px;
    margin-bottom: 16px;
}

.card-heading p {
    padding-bottom: 40px;
    font-size: 10px;
    color: #627382;
    font-weight: 400;
}
.card-container{
    display: flex;
    justify-content: center;
    padding-top: 44px;
    gap: 24px;
}
.cards {
    width: 260px;
    height: 200px;
    padding:20px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #f0f0f0;
    background-color: rgba(255, 255, 255, 0.904);
    background-color: #FFFFFF;
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.06);

}

.cards h3 {
    padding: 16px 0;
    font-size: 24px;
    line-height: 29px;
}

.vector {
    border-radius: 30px;
    padding: 13px;
    background-color: rgba(249, 85, 85, 1);
}
/* knowledge section  */
#knowledge-container{
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 120px;
    width: 1100px;
    background-color: #FFFFFF;
}
.knowledge-img img{
    width: 600px;
    height: 600px;
}
.knowlegde-title{
    font-size: 16px;
    line-height: 20px;
    color: #30B868;
}
.brain-content h1{
    font-size: 48px;
    line-height: 58px;
    padding: 16px 0;
}
.brain-content .knowledge-p{
font-size: 16px ;
line-height: 20px;
color: #627382;
padding-bottom: 40px;
}
.knowledge-describe{
    display: inline-flex;
    gap: 6px;
}

.knowledge-cature img{
    width: 20px;
    height: 20px;
}
/* think-container */
#think-container{
    max-width: 1600px;
}

#think-container div{
    margin: 0 120px;
    text-align: center;
    background-color: #F7F6F2;
}
#think-container div h2{
    font-size: 40px;
    line-height: 48px;
    padding-top: 80px;
}
#think-container p{
    font-size: 16px;
    padding: 20px 0;
}
.last-p{
    font-size: 16px;
    padding-bottom: 80px;
}
/* footer-section */
#footer-section{
    max-width: 1600px;
    height: 348px;
    background-color: rgba(0, 25, 49, 1);
}

.social-content{
    display: flex;
    justify-content: space-between;
    /* margin: auto; */
    padding: 120px 120px 80px 120px;
}
.social-links{
    font-size: 20px;
    line-height: 28px;
    color: white;
}
.social-icons{
    display: inline-flex;
    gap: 12px;
    padding-top: 16px;
    color: white;
}

.copy-right{
    font-size: 16px;
    line-height: 24px;
    color: white;
    text-align: center;
}